@import url(http://fonts.googleapis.com/css?family=Oswald:400,700,300);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700);
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,700');
/*-----------RESET CSS----------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, hr, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin:0; padding:0; border:0; outline:0; background:transparent;
	/*vertical-align: baseline;*/
}
body { line-height:1; }
input, select, textarea { border:1px solid #aeaeae; margin:0px; color:#555; padding:0px; font-size:11px;}
ol, ul { list-style:none; }
blockquote, q { quotes:none; }
hr { display:none; }
/* remember to define focus styles! */
:focus { outline:0; }
/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse:collapse; border-spacing:0; }
a {text-decoration:none; outline: none!important; }
*, *:before, *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
img,
embed,
object,
video {
    max-width: 100%;
}

/*-------------------GLOBAL STYLE------------------------*/
/* Move down content because we have a fixed navbar that is 50px tall */
body {padding-top: 90px;}
body {font-family: 'Open Sans', sans-serif !important; font-size: 14px !important; color: #000 !important; }
.hero-content {font-family:"Oswald"; position: relative; z-index: 1000; margin-top: 100px; margin-bottom: 100px;}
.box{padding: 30px 0;}
.title{font-family: "Oswald"; font-size: 48px;}
.purple{color: #7a68ae;}
.btn-master {
	display: inline-block;
	margin-top: 20px;
	padding: 5px 10px;
	border: 1px solid black;
	border-radius: 5px;
	font-family: "Oswald", sans-serif;
	font-weight: 400;
	font-size: 18px;
	color: black;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.btn-master:hover{
	cursor: pointer;
	text-decoration: none;
	color: #fff; background-color: #000;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.btn-read{color: black; border: 1px solid black; border-radius: 3px; padding: 4px 8px; font-size: 12px; display: inline-block;}
.btn-read:hover{text-decoration: underline; color: black; cursor: pointer;}
.align-right{float: right !important;}
.no-margin{margin: 0!important;}
.bold{font-weight: 700;}
.box-color{background-color: #eee;}
.erro{color:#ED1C24; margin:0}
.ok{color:#7a68ae; margin:0; text-shadow: #000;}
.border{border-right: 1px solid #000; height: 180px;}
.center{text-align: center; padding-top: 20px;}
.border-right{border-right: 1px solid #cecece !important;}
.row{padding: 0 !important; margin: 0 !important;}
.no-border{border: 0 !important;}

/*-------------------HEADER------------------------*/
.navbar{margin-bottom: 20px !important; position: relative; z-index: 90;}
.navbar-header {height: 90px !important;}
.navbar-inverse {background-color: #000 !important;}
.navbar-inverse .navbar-collapse {margin-top: 20px;}
.navbar-link {font-family: "Oswald"; font-size: 16px;	 font-weight: 300; text-transform: uppercase; padding-top: 5px;}
.navbar-brand {margin-left: 0 !important; padding-top: 30px !important;}
.navbar-toggle {margin-top: 30px !important;}
.navbar-inverse .navbar-nav>.active>a{ background-color: #424243 !important;}
.navbar-inverse{background-color: #000 !important;}

/*-------------------CALL ACTION------------------------*/
#call-action {text-align:center; background-color: #7a68ae; padding:30px 0 20px 0; text-align: center; }
#call-action h2 {
	display: inline-block;
	color:#fff;
	font-family: "Oswald";
	font-weight: 300;
	font-size: 35px;
	margin-right: 20px;
	margin-bottom: 20px;
}
#call-action .btn-master{
	border-color: #fff;
	color: #fff;
	font-size: 24px;
	border-radius: 10px;
	margin-top: 0;
}
#call-action .btn-master:hover{
	background-color: inherit;
	text-decoration: underline;
	margin-top: 0;
}

/*-------------------FOOTER------------------------*/
footer{background-color:#575656; padding: 40px 0 20px 0; color: #fff;}
.box-content{margin-bottom: 20px;}
.box-content h4{font-family: "Oswald"; font-size: 24px; margin-bottom: 30px;}
.box-content ul li a{color: #fff; font-weight: 300; font-size: 16px;}
.officer{margin-bottom: 40px;}
.officer h6{font-size: 18px;}
.officer .number{font-size: 14px; font-weight: 300;}
.officer .address{font-size: 14px; font-weight: 300;}
.box-content .social-media-footer{display: block; width: 100%}
.box-content .social-media-footer li{display: inline-block;}
.box-content .social-media-footer li a{ display:block; background: url("../img/social-media-footer.png") no-repeat 0 0 scroll; width: 48px; height: 48px;}
.box-content .social-media-footer li a:hover{opacity: 0.5;}
.box-content .social-media-footer li .facebook{ background-position: 0 0;}
.box-content .social-media-footer li .twitter{ background-position: -55px 0;}
.box-content .social-media-footer li .google{ background-position: -115px 0;}
.box-content .social-media-footer li .linkedin{ background-position: -175px 0;}
.box-content .social-media-footer li .youtube{ background-position: -230px 0;}
.newsletter form{position: relative; margin: 0px;}
.newsletter form input{ padding: 15px 10px; width: 100%; color: #838181;}
.newsletter form .send {
	position: absolute;
	right: 5px;
	top: 10px;
}
.newsletter form .send {
	background: url("../img/ico-mail.png") no-repeat 0 0 scroll;
	text-shadow: none;
	background-color: #fff;
	border: 0 none;
	height: 34px;
	width: 34px;
}
.copyright{padding-right: 15px; padding-top: 15px;}

/*-----------------------------------------------*/

/*-------------------HOME------------------------*/

/*-----------------------------------------------*/


/*-------------------INTRO------------------------*/
.intro {
	padding: 50px 0 !important;
	height:98%;
	width: 100%;
	background: #f4f4f4 url(../img/bg-home.jpg) no-repeat center top scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.intro .hero-content {float: left; color: #000;}
.intro .hero-content h1 {
	font-size: 4.3em;
	margin-top: 0 !important;
	float: left;
	clear: both;
}

.intro .hero-content h5 {
	font-family:"Oswald";
	font-size:2.2em;
	width: 88%;
	font-weight: 300;
	float: left;
	clear: both;
}

/*------------------TAGLINE----------------------*/
#tagline {text-align:center; background-color: #7a68ae; padding: 5px 0;}
#tagline h2 {
	margin-top: 10px!important; 
	margin-bottom: 15px!important; 
	position: relative; line-height: 1.3; 
	font-weight:normal; color:#fff;
	font-weight: 300;
	font-style: italic;
	font-size: 16px;
	margin-left: auto;
	margin-right: auto;
	width: 80%
}

/*------------------CAROUSEL----------------------*/
#carousel-example-generic{margin-top: 50px; height: 550px;}
.carousel-indicators .active {
	background-color: #000!important;
}
.carousel-indicators li {
	width: 12px !important;
	height: 12px !important;
	border: 0px solid !important;
	background-color: #7a68ae !important;
}
.carousel-caption{
	color: #000 !important;
	text-align: left !important;
	text-shadow: inherit !important;
	position: relative !important; 
	padding-top: 0px !important;
	width: 68%;
}
.carousel-caption h3{font-family: "Oswald"; font-size: 30px; font-weight: 300; text-transform: uppercase;}
.carousel-caption p{font-size: 14px; text-align: center;}
.carousel-control {
	top: 0;
	left: 0;
	bottom: 0;
	width: 15%;
	opacity: inherit !important;
	filter: inherit !important;
	font-size: 20px;
	color: #000 !important;
	text-align: center;
	text-shadow: inherit !important;
}
.carousel-control.left {
	background-image: inherit!important;
}
.carousel-control.right {
	background-image: inherit !important;
}
.item img{margin: 0 auto;}

/*-------------------BLOG------------------------*/
#blog .title{display: inline-block;}
.post header{margin-top: 20px; width: 92%;}
.title-post{font-family: "Oswald"; font-size: 17px; display: inline-block;}
.author-post{font-size: 12px; font-weight: 300; display: block;}
.social-media-post{float: right; margin-top: 20px;}
.social-media-post a{display: block; background: url("../img/social-media.png") no-repeat 0 0 scroll; width: 22px; height: 22px; display: inline-block;} 
.social-media-post a:hover{cursor: pointer; opacity: 0.5;}
.social-media-post .twitter{ background-position: 0 0;}
.social-media-post .facebook{ background-position: 100% 0;}
.img-post{
	display: block;
	margin-bottom: 15px;
}
.post p{font-weight: 300; width: 75%; display: inline-block; vertical-align: top; text-align: left; margin-right: 15px; text-align: justify;}

/*-------------------NEWS------------------------*/
#news header{margin-bottom: 40px;}
#news .title{display: inline-block;}
.title-news{font-family: "Oswald"; font-size: 18px; display: inline-block; margin-top: 0;}
.author-news{font-size: 12px; font-weight: 300; display: block;}
#news p{font-weight: 300; display: inline-block; vertical-align: top; text-align: left; margin-right: 15px; text-align: justify;}
#news .btn-master{margin-bottom: 10px; margin-top: 10px;}

/*-----------------------------------------------*/

/*-------------------WHO WE ARE------------------*/

/*-----------------------------------------------*/


/*-------------------INTRO------------------------*/
.intro-who-we-are {
	padding: 10% 0 20% 0;
	height:98%;
	width: 100%;
	background: url(../img/bg-postit.jpg) no-repeat center top fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.intro-who-we-are .hero-content h1 {
	font-size: 3.0em;
	background-color: rgba(0, 0, 0, 0.8);
	color: #fff;
	padding: 15px;
	width: auto;
	float: left;
	line-height: 1.2;
}

.decor-1{background: url("../img/decor-1.png") no-repeat 0 0 scroll; width: 48px; height: 39px; display: inline-block; margin-right: 10px;}
.decor-2{background: url("../img/decor-2.png") no-repeat 0 0 scroll; width: 48px; height: 39px; display: inline-block; margin-left: 10px;}

/*-------------------ABOUT------------------------*/
.spotlight{margin-top: 40px; padding-top: 15px;}
.spotlight h2{font-family: "Oswald"; font-size: 40px; font-weight: 300; display: inline-block;}
.decor-3{background: url("../img/decor-3.png") no-repeat 0 0 scroll; width: 95px; height: 82px; display: inline-block; margin-right: 10px;}
.about{margin-top: 30px;}
.about p{font-size: 24px; font-weight: 300; line-height: 1.6; text-align: justify;}

/*-------------------MAP--------------------------*/
.map{
	margin-top: 60px;
	background: url("../img/map.png") no-repeat center top scroll;
	height:98%;
	width: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 32px;
}
.points ul{position: relative; width: 100%; height: 665px;}
.points ul li{position:absolute;}
.points ul .nota1{top:0; left:0;}
.points ul .nota2{top:0; left:40%;}
.points ul .nota3{top:51%; left:23%;}
.points ul .nota4{top:70%; left:37%;}
.points ul .nota5{top:42%; left:57%;}
.points ul .nota6{top:27%; left:35%;}
.points ul .nota7{top:13%; left:61%;}


.map .text-points{ display: block; width: 50%; display: none;}
.map .text-points li{ padding: 10px; width: auto; background-color:#7a68ae; font-size: 14px; margin: 5px 0; color: #fff; clear: both; list-style-type: square; list-style-position: inside;}
/*-------------------MOONLIGHT--------------------*/
.content-moonlight{margin-top: 50px;}
#moonlight p{font-size: 20px; font-weight: 300; line-height: 1.6; text-align: justify;}
#moonlight img{margin-bottom: 30px; float: right;}
.space{padding-left: 5% !important;}
.fix{padding: 0 0 0 35px; display: inline-block; clear: both;}
.cloud{display: inline-block; clear: both;}
/*-------------------VALUES--------------------*/
ul.marked {
    list-style: circle;
    list-style-position: inside;
    font-size: 20px;
}
/*-------------------TEAM--------------------*/
.team{display: block;}
.team li{display: inline-block; padding: 50px 50px 0 50px;}
.team li a:hover img{opacity: 0.5; cursor: pointer;}
.team li h3{font-family: "Oswald"; font-size: 18px; text-transform: uppercase; text-align: center;}
.team li h6{font-weight: 300px; font-style: italic; font-size: 12px; text-transform: uppercase; text-align: center;}
.popover{color: #fff !important; text-align: justify !important;  font-size: 14px; font-weight: 300; padding: 10px 5px !important; max-width: 350px !important; background-color: #000 !important;}
.popover.bottom>.arrow:after {border-bottom-color: #000 !important;}

/*-----------------------------------------------*/

/*-------------------WHAT WE DO------------------*/

/*-----------------------------------------------*/


/*-------------------INTRO------------------------*/


.intro-what-we-do {
	padding: 8% 0 18% 0;
	height:98%;
	width: 100%;
	background: url("../img/img-silicon.jpg") no-repeat center top fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.intro-what-we-do h1 {
	font-size:4.4em;
	margin-top: 0;
	margin-bottom: 0;
	background-color: rgba(0, 0, 0, 0.6);
	color: #fff;
	margin-bottom: 10px;
	padding: 15px;
}

.intro-what-we-do .hero-content h2{
	font-size: 3.2em;
	background-color: rgba(0, 0, 0, 0.6);
	color: #fff;
	margin-bottom: 10px;
	margin-top: 0;
	padding: 10px;
}
.intro-what-we-do .hero-content h3{width: 80%;}
#what-we-do .title-service{font-family: "Oswald", sans-serif; font-size: 36px; margin: 50px auto;}
#what-we-do .img-service{margin: 80px auto 30px auto;}
#what-we-do .text-service{font-size: 16px; line-height: 1.6; text-align: justify; margin: 40px auto;}
#services {margin-bottom: 30px; margin-top: 30px !important; background-color: #fff; border: 1px solid #cecece;}
.box-service {
	padding: 20px;
	height: 100%;
	min-height: 280px !important;
	border-right: 1px solid #cecece;
}
.box-service img {
	margin-top: 20px;
}
.box-service h3 {
	font-family: "Oswald", sans-serif;
	text-align: center;
	font-size: 22px;
	text-transform: uppercase;
}
.box-service p {
	width: 100%;
	font-size: 14px;
	text-align: center;
}
.box-service ul{ border-top: 1px solid #ccc; padding-top: 20px; margin-top: 20px;}
.box-service span{font-size: 10px; margin-right: 5px;}
#how-we-do h3{font-family: "Oswald", sans-serif; font-size: 26px; margin-bottom: 50px;}
#how-we-do div p{font-size: 20px; font-weight: 300; text-align: center; text-transform: uppercase;}
#how-we-do div img{margin: 0 auto; width: auto;}
#agile-team h2{margin: 60px 0 40px 0; font-size: 24px;}
#agile-team .box-agile-team div {border: 1px solid #ececec; height: 220px;}
#agile-team .box-agile-team span{margin: 10px 0 30px 0; display: inline-block;height: 200px; background: url("../img/agile.png") no-repeat 0 0 scroll; width: 109px; height: 90px;}
#agile-team .box-agile-team .scrum{background-position: -109px 0;}
#agile-team .box-agile-team .devops{background-position: -225px 0;}
#agile-team .box-agile-team .coder{background-position: -337px 0;}
#agile-team .box-agile-team .devops{background-position: -225px 0;}
#agile-team .box-agile-team .coder{background-position: -337px 0;}
#agile-team .box-agile-team .ux{background-position: -446px 0;}
#agile-team .box-agile-team .hacker{background-position: -555px 0;}
#practices img{margin: 0 auto; padding-top: 60px; padding-bottom: 50px;}


/*-----------------------------------------------*/

/*-------------------CLIENTS------------------*/

/*-----------------------------------------------*/
#clients{margin-top: 30px;}
#clients #secondary-menu{background-color: #eee; margin-top:20px;}
#secondary-menu .navbar-link{padding-top: 0px !important;}
#secondary-menu .navbar-nav li:hover a{background-color: #fff !important; cursor: pointer;}
#clients .nav>li>a {
	text-transform: uppercase;
	position: relative;
	display: block;
	padding: 15px 33px;
	font-family: "Oswald";
	font-size: 18px;
	font-weight: 300;
	color: #000 !important;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	transition: all 0.2s ease-out;
}
#clients .nav-pills>li>a:hover{
	background-color:#535252;
	color: #fff !important;
}
#clients .nav-pills>li>a {
	border-radius: 0px !important;
}
#clients .nav-pills>li.active>a {
	color: #fff !important;
	background-color: #535252 !important;
}
#clients .logo{padding-right: 10px; float: right;}
#clients .img-responsive{display: inline !important;}
#clients h2{font-family: "Oswald", sans-serif; font-size: 32px; font-weight: 300; padding:50px 0 30px 0; display: inline-block;}
#clients .logo{margin-bottom: 30px;}
#clients .content-text{font-size: 16px; font-weight: 300; text-align: justify; line-height: 1.8; padding-top: 10px; padding-right: -15px;}
.f-nav { z-index: 9999; position: fixed; top: 70px; width:100%; }
.logo-clients{float: left; margin-top:30px !important; width: 100%;}
.logo-clients ul li{ background: url("../img/logos-clientes.png") no-repeat 0 0 scroll; width: 100px; height: 100px; display: inline-block;}
.logo-clients .client-varejo-1{background-position: 0 0; width: 100px; height: 80px;}
.logo-clients .client-varejo-2{background-position: -100px 0; width: 300px; height: 80px;}
.logo-clients .client-varejo-3{background-position: -428px 0; width: 100px; height: 80px;}
.logo-clients .client-varejo-4{background-position: -590px 0; width: 200px; height: 80px;}

.logo-clients .client-midia-1{background-position: 0 0; width: 100px; height: 80px;}
.logo-clients .client-midia-2{background-position: -100px 0; width: 300px; height: 80px;}
.logo-clients .client-midia-3{background-position: -428px 0; width: 100px; height: 80px;}
.logo-clients .client-midia-4{background-position: -590px 0; width: 200px; height: 80px;}

.logo-clients .client-industria-1{background-position: 0 -90px; width: 100px; height: 110px;}
.logo-clients .client-industria-2{background-position: -100px -110px; width: 260px; height: 80px;}
.logo-clients .client-industria-3{background-position: -378px -110px; width: 253px; height: 80px;}
.logo-clients .client-industria-4{background-position: -631px -105px; width: 300px; height: 100px;}

.logo-clients .client-telecom-1{background-position: 0 -200px; width: 100px; height: 110px;}
.logo-clients .client-telecom-2{background-position: -175px -233px; width: 190px; height: 70px;}
.logo-clients .client-telecom-3{background-position: -421px -220px; width: 253px; height: 80px;}
.logo-clients .client-telecom-4{background-position: -685px -220px; width: 300px; height: 70px;}

.logo-clients .client-tecnologia-1{background-position: 0 -300px; width: 100px; height: 110px;}
.logo-clients .client-tecnologia-2{background-position: -120px -333px; width: 300px; height: 70px;}
.logo-clients .client-tecnologia-3{background-position: -421px -310px; width: 220px; height: 95px;}
.logo-clients .client-tecnologia-4{background-position: -639px -270px; width: 300px; height: 130px;}

.logo-clients .client-servicos-1{background-position: 0 -440px; width: 100px; height: 80px;}
.logo-clients .client-servicos-2{background-position: -120px -440px; width: 240px; height: 70px;}
.logo-clients .client-servicos-3{background-position: -381px -430px; width: 200px; height: 75px;}
.logo-clients .client-servicos-4{background-position: -639px -490px; width: 220px; height: 140px;}
/*-----------------------------------------------*/

/*--------------------JOBS-----------------------*/

/*-----------------------------------------------*/
.intro-jobs {
	padding:5% 0 44% 0;
	height:468px;
	width: 100%;
	background: url(../img/business_people.jpg) no-repeat center top scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#seletiva{ display: block; max-width: 1200px; min-height: 750px;}
.seletiva-concrete{
	margin: 15px 0 25px 0; 
	background: url(../img/selecao-concrete-android-ios.jpg) no-repeat 0 0 scroll;
	width: 1150px; 
	height: 750px; 
	font-family: "Oswald";
	font-size: 22px;
	color: #323232;
	position: relative;
}
.seletiva-concrete .title-seletiva{font-size: 24px; padding: 90px 30px 0 30px;}
.box-repositorio{display: block; padding-left: 37%; margin-top: 60px;}
.box-repositorio a{color:#323232;}
.descricao-seletiva{max-width: 675px; margin-left: 37%; padding-top: 30px;}
.intro-jobs .hero-content{padding: 0; margin: 35% 0 0 0; float: left;}
.intro-jobs .hero-content h1 {
	background-color: rgba(0,0,0,0.8);
	font-size: 3.6em;
	color: #fff;
	padding: 15px;
	width: auto;
	float: left;
}
#jobs .title{margin-bottom: 30px;}
#jobs .text-carreira {font-size: 18px; line-height: 1.8; padding-bottom: 30px}
#jobs .secondary-title{padding-left: 20px; font-family: "Oswald", sans-serif; font-size: 30px; margin-bottom: 30px;}
#jobs .col-md-3{padding: 0 5px !important;}
#jobs .jumbotron{height: 100%;}
.modal h2,
.jumbotron h2{
	font-family: "Oswald", sans-serif;
	font-size: 18px;
	margin-top: 5px !important; 
}
.modal-body ul{display: block;}
.modal-body ul h4{display: block; font-weight: 700; font-size: 14px; margin-bottom: 20px}
.modal-body ul p{font-size:14px !important; font-weight: 400 !important; font-family: "Open Sans", sans-serif; text-decoration: underline;}
.modal-body ul li, 
ul.list li{
	font-weight: 300;
	font-size: 14px;
	padding: 5px 0;
	list-style: square;
	list-style-position: inside;
}

.modal-footer{text-align: left !important; margin-top: 0 !important; padding-top: 0 !important;}

/*-----------------------------------------------*/

/*---------------------ERROR-------------------*/

/*-----------------------------------------------*/
.header-error{background-color: black; margin-top: -90px; padding: 40px 0;}
.error{ padding: 50px 0; margin-top: 10%}
.box-error{text-align: right; border-right: 5px solid #7a68ae; padding-right: 7% !important; }
.box-error h1{font-family: "Oswald", sans-serif; font-size: 12em; font-weight: 700; color: #7a68ae;}
.error p{text-transform: uppercase; font-size: 1.2em; font-weight: 700;}
.error h4{font-size: 22px; padding-left: 10px; color:#7a68ae; padding-bottom: 20px; padding-top: 10px}
.error ul li{ list-style-type: square; list-style-position: inside; padding: 5px 10px; font-size: 16px; }
.error a{padding-top: 10px; display: block; color: black; font-weight: 700;}
.error span {font-size: 10px; padding: 0 10px 0 10px;}



/*-----------------------------------------------*/

/*---------------------CONTATO-------------------*/

/*-----------------------------------------------*/
#contato .container .jumbotron{margin-top: 30px; margin-bottom: 30px;}
#contato .jumbotron iframe{border: 1px solid #ccc !important; border-radius: 5px;}
#contato .jumbotron h2{text-transform: uppercase; font-family: "Oswald", sans-serif; font-size: 27px;}
#contato .mini-contact {
	padding: 20px 0;
	background-color: transparent;
}

#contato .mini-contact a, 
#contato .mini-contact span {
	display: block;
	float: none;
	margin: 0 0 .5em 0;
	color: #000;
}
#contato .mini-contact .mail {font-size:13px; padding-left: 20px; background: url("../img/mail.png") no-repeat 0 center scroll; width:auto; height: auto;}
#contato  .mini-contact .tel {font-size:13px; padding-left: 20px; background: url("../img/phone.png")no-repeat 0 top scroll; width:auto; height: auto;}
#contato  .mini-contact .location {font-size:13px; padding-left: 20px; background: url("../img/at.png") no-repeat 0 top scroll; width:auto; height: auto; }
/*-----------------RESPONSIVE--------------------*/
@media screen and (max-width: 640px){
	.map .text-points{ display: block; width: 80%;}

	.map .points{display: none;}

	.map{background: none;}
}
@media screen and (max-width: 991px){
	 #clients .logo-clients ul li {
		display: block;
		clear: both;
	}
	#who-we-are img{
		display: none;
	}
}

@media screen and (min-width: 768px){
	.container .jumbotron {
		padding-left: 20px !important;
		padding-right: 20px!important; 
		padding-top: 20px !important;
		padding-bottom: 20px !important;
	}
}
@media screen and (min-width: 768px){
	.carousel-caption {
		padding-bottom: 0px !important;
	}
}
@media screen and (min-width: 768px){
	.carousel-indicators {
		bottom: 0px !important;
	}
}
@media (max-width: 1000px){
	.navbar-brand img{ width:220px !important;}
}

@media (max-width: 700px){
	.intro .hero-content{
		background-color: rgba(0,0,0,0.8);
		padding: 5px;
		color: #fff !important;	
}

}
@media (max-width: 1199px){
	.navbar-link{font-size: 14px !important;}
	.navbar-link li a{padding-left:6px !important; padding-right: 4px !important;}
}
@media (max-width: 630px){
	h2.text{font-size: 12px !important; line-height: 1.2;}
}
@media (max-width: 480px){
    .modal {
        position: fixed !important;
        top: 3% !important;
        right: 3% !important;
        left: 3% !important;
        bottom: 3% !important;
        width: auto !important;
        margin: 0 !important;
    }
    .modal-body {
        max-height: 350px !important;
        padding: 15px !important;
        overflow-y: scroll !important;
        -webkit-overflow-scrolling: touch !important;
     }
}