	<section id="call-action">
		<div class="container">
			{% if page.is_carreiras == true %}
                                <h2 class="text-call-action">Dúvidas com o cadastro ?</h2>
				<a href="mailto:recrutamento@concretesolutions.com.br" class="btn-lg btn-master text-button">fale com RH</a>
			{% else %}
                                <h2 class="text-call-action">Vamos fazer o produto digital certo!</h2>
				<a href="mailto:comercial@concretesolutions.com.br" class="btn-lg btn-master text-button">fale conosco</a>
			{% endif %}
		</div>
	</section>
	<footer>
	  	<div class="container">
			<div class="row">
				<div class="col-md-4 box-content">
					<h4>Escritórios</h4>
					<div class="officer">
						<h6>São Paulo</h6>
						<p class="number">(11) 4119-0449</p>
						<p class="adress">Rua Sansão Alves dos Santos, 433 / 4º Andar<br>Brooklin</p>
					</div>
					<div class="officer">
						<h6>Rio de Janeiro</h6>
						<p class="number">(21) 2240-2030</p>
						<p class="adress">Rua São José, 90 / Sala 2121<br>Centro</p>
					</div>
				</div>
				<div class="col-md-4 box-content">
					<h4>Eventos</h4>
					<ul id="JS-gcal-events">
						<li>Nenhum evento =(</li>
					</ul>
				</div>
				<div class="col-md-4 box-content">
					<h4>Siga-nos!</h4>
					<ul class="social-media-footer">
						<li><a class="facebook" href="https://www.facebook.com/ConcreteS" target="_blank"></a></li>
						<li><a class="twitter" href="https://twitter.com/ConcreteS" target="_blank"></a></li>
						<li><a class="google" href="https://plus.google.com/+ConcretesolutionsBrasil/posts" target="_blank"></a></li>
						<li><a class="linkedin" href="http://www.linkedin.com/companies/concrete-solutions" target="_blank"></a></li>
						<li><a class="youtube" href="https://www.youtube.com/user/concretesolutionsbr" target="_blank"></a></li>
					</ul>
					<div class="newsletter">
						<p>Receba nossa newsletter:</p>
                                                <form novalidate>
							<div class="mc-field-group">
								<input type="text" name="email" id="mce-EMAIL" placeholder="seu e-mail" autocomplete="off">
								<label for="mce-EMAIL"></label>
							</div>
							<div style="position: absolute; left: -5000px;"><input type="text" name="b_0dd8265cc74731cec0c149863_26dd60f3a9" tabindex="-1" value=""></div>
							<div id="mce-responses" class="clear">
								<div class="response" id="mce-error-response" style="display:none"></div>
								<div class="response" id="mce-success-response" style="display:none"></div>
							</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
							<div style="position: absolute; left: -5000px;"><input type="text" name="b_0dd8265cc74731cec0c149863_26dd60f3a9" tabindex="-1" value=""></div>
							<button id="mc-embedded-subscribe" type="submit" class="send"><span class="ico-mail"></span></button>
						</form>
						<p class="info"></p>
					</div>
				</div>
			</div>
		  	<div class="row">
		  		<p class="align-right copyright">&copy; 2014 concrete solutions. todos direitos reservados.</p>
		  	</div>
  		<div>
  	</footer>



	<!-- Scripts -->
	<script src="/js/vendor/jquery.min-1.11.0.js"></script>
	<script src="/js/vendor/bootstrap.min-3.1.1.js"></script>
	<script src="/js/vendor/jquery.fittext-1.2.js"></script>
	<script src="/js/vendor/jquery.rss.min-1.4.1.js"></script>
	<script src="/js/vendor/jquery.touchswipe.min-1.6.5.js"></script>
	<script src="/js/vendor/jquery.stellar-0.6.2.js"></script>
	<script src="/js/GCalEvents.js"></script>
	<script src="/js/mailchimp.js"></script>
	<script src="/js/concrete.js"></script>


	<script type="text/javascript" charset="utf-8">
	$.ajaxSetup({
    async: false
	});
		$(function(){
			$.stellar({
				horizontalScrolling: false,
				verticalOffset: 40
			});
		});

		var calendar_json_url = "https://www.google.com/calendar/feeds/concretesolutions.com.br_k3ja6rfulbk38j40n74r86qq98@group.calendar.google.com/public/full?orderby=starttime&sortorder=ascending&max-results=5&futureevents=true&alt=json";
		var modelVaga =  $("#vaga-modelo").html();
			$("#vaga-modelo").remove();

		function fillVaga(id,titulo,email,horario,local,pCompetencias,pExtras,modelVaga) {
			var line = modelVaga;
            line = line.replace(/{id-vaga}/g, id);
            line = line.replace(/{titulo}/g, titulo);
            line = line.replace(/{email}/g, email);
            line = line.replace(/{horario}/g, horario);
            line = line.replace(/{local}/g, local);
            var competencias = "";
            $.each(pCompetencias.split(";"), function (index, value) {
            	if(value != '')
                	competencias += "<li>" + value + "</li>";
            });
            var extras = '';
            $.each(pExtras.split(";"), function (index, value) {
                if(value != '')
                	extras += "<li>" + value + "</li>";
            });
            line = line.replace("{competencias}", competencias);
            line = line.replace("{beneficios}", $('#beneficios').html());
            if(extras != '')
                line = line.replace("{extras}", '<h4>Pontos Extras:</h4><ul>'+extras+'</ul>');
            else
            	line = line.replace("{extras}", extras);
            return line;
		}
		$(document).ready(function() {
			GCalEvents(calendar_json_url);

			//Enable swiping...
			$(".carousel-inner").swipe( {
				//Generic swipe handler for all directions
				swipeLeft:function(event, direction, distance, duration, fingerCount) {
					$(this).parent().carousel('next');
				},
				swipeRight: function() {
					$(this).parent().carousel('prev');
				},
				//Default is 75px, set to 0 for demo so any distance triggers swipe
				threshold:0
			});

		{% if page.is_index == true %}
		$("#blog-content").rss("http://blog.concretesolutions.com.br/feed/atom/", {
	    limit: 2,
	    layoutTemplate: '<div>{entries}</div>',
	    entryTemplate: '<div class="col-md-6 post"><header><h2 class="title-post">{title}</h2><h6 class="author-post">Por: {author} {formattedDate}</h6></header><a href="{url}" target="_blank" class="img-post"><img src="{teaserImageUrl}" class="img-responsive" style="width:500px;height:244px"></a><p>{shortBody}</p><a href="{url}" target="_blank" class="btn-read">Ler mais</a></div>',
	    tokens: {
	        formattedDate: function (entry, tokens) {
	            var date = new Date(entry.publishedDate);
	            return date.toLocaleDateString("pt-BR");
	        }
	    }
		});
		{% endif %}
		});
	</script>
        <!-- Integração com o mailing list do rd -->
        <script type="text/javascript" src="https://d335luupugsy2.cloudfront.net/js/integration/stable/rd-js-integration.min.js"></script> 
        <script type="text/javascript">
          RdIntegration.integrate('c65e64adb2cf1506b8e50c37586f919f', 'Newsletter Site'); 
        </script>
