<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Concrete Solutions</title>
	<meta name="description" content="Usamos Lean, UX e engenharia ágil para ajudar empresas a criar softwares, sites e aplicativos mobile de sucesso">
	<meta name="google-site-verification" content="spsWxQhSIqTuh6qSj-_pEhs7TskcFsWZdsWiR52gBrw" />
	<meta name="robots" content="index, follow">
    <link rel="profile" href="http://gmpg.org/xfn/11">
	<link rel="shortcut icon" href="/img/ico.ico">
	<link type="text/css" rel="stylesheet" href="/css/style.css">
	<link type="text/css" rel="stylesheet" href="/css/vendor/bootstrap.min-3.1.1.css">
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="js/vendor/html5shiv-3.7.0.js"></script>
      <script src="js/vendor/respond.min-1.4.2.js"></script>
    <![endif]-->
</head>